body {
  text-align: center;
	padding: 50px;
	background-color: #c1d46e;
}

#itemEntryBar {
	padding: 10px 75px;
}

#addBtn {
	padding: 10px;	
	margin: 10px;
}


#listItem {
		font-size: 30px;
}

li.itemCard {
	padding: 15px;
	color: white;
	background-color: grey;
	border-radius: 10px;
	list-style: none;
}

#checkbox {
	transform: scale(3);
	margin-left: 150px;
}

ul {
	padding: 0;
}
