body {
  text-align: center;
	padding: 50px;
	background-color: #c1d46e;
}

#itemEntryBar {
	padding: 10px 75px;
}

#addBtn {
	padding: 10px;	
	margin: 10px;
}

.item {
}

#listItem {
		font-size: 25px;
}
